.photoBlock {
    min-height : 600px;
    padding-left : 5px;
}

.photoElement {
    animation-duration: 1s;
    animation-name: slidein;
    animation-timing-function: linear;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.zoom:hover {
    animation: image_block 1s ease infinite;
}

@keyframes image_block{
    0%{
        transform: scale(1, 1);
        border : 2px solid indigo;
    }
    50%{
        transform: scale(1.05, 1.05);
        border : 2px solid blue;
    }
    100%{
        transform: scale(1, 1);
        border : 2px solid deepskyblue;
    }
}